[Unit]
Description=Network namespace /run/netns/%I
Documentation=man:ip-netns(8)
Before=netns-network@%i.target
Wants=netns-network@%i.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/bin/sh -c 'if [ -e "/run/netns/$1" ]; then ip netns delete "$1" ; fi' -- %I
ExecStart=ip netns add %I
ExecStart=ip netns exec %I ip link set lo up
ExecStop=ip netns delete %I

[Install]
WantedBy=netns.target
