Source: config-dlitz-netns
Section: admin
Priority: optional
Maintainer: Darsey Litzenberger <dlitz@dlitz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/dlitz/config-dlitz-netns
Vcs-Git: https://github.com/dlitz/config-dlitz-netns.git

Package: config-dlitz-netns
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 iproute2,
 python3,
Recommends:
 ifupdown,
Description: systemd unit files for creating network namespaces
 This installs systemd services for creating network namespaces to be used by
 other services:
  * netns@<name>.service        - Creates network namespace
  * netns-veth@<name>.service   - Creates virtual ethernet link to the netns
  * netns-ifup@<name>.service   - Invokes ifupdown from inside the netns
